:root {
    --theme-color: #327CEC;
    --theme-color-light: #5498FF;
    --theme-color-dark: #2B6BCC;

    --element-light-gray: #F2F2F2;
    --element-gray: #D7D7D7;
    --element-red: #FF3838;

    --text-black: #262626;
    --text-gray: #B9B9B9;
    --text-red: #FF1C1C;

    --task-pink: #FFEFEF;
    --task-pink-button: #F6DBDB;
    --task-pink-text: #CA8C8C;
    --task-blue: #EFF8FF;
    --task-blue-button: #D2E6F5;
    --task-blue-text: #86AECD;
    --task-grey: #F3F3F3;
    --task-grey-button: #E5E5E5;
    --task-grey-text: #A8A8A8;
    --task-green: #EFFFF1;
    --task-green-button: #DAF4DD;
    --task-green-text: #8AC291;

    --default-background-color: white;

    --large-font-size: 22px;
    --default-font-size: 14px;
    --small-font-size: 12px;
    --default-font-family: "Nunito Sans";

    --extra-light-font-weight: 200;
    --light-font-weight: 300;
    --regular-font-weight: 400;
    --medium-font-weight: 500;
    --semi-bold-font-weight: 600;
    --bold-font-weight: 700;
    --extra-bold-font-weight: 800;
    --black-font-weight: 900;
}